<!DOCTYPE html>
<html>
<head>
  <title>Device Management</title>
  <link rel="stylesheet" href="/css/event.css">
</head>
<body>
  <%- include('employeeNav.ejs'); %>
    <div class="form-container">
        <h3>Apply for an Event</h3>
        <p>Enter the details of the event you're applying for</p>
        <form action="/event-request" method="post" enctype="multipart/form-data">
            <label for="name">Event Name:</label>
            <input type="text" name="name" id="name">
            <label for="date">Date:</label>
            <input type="date" name="date" id="date">
            <label for="time">Time:</label>
            <input type="time" name="time" id="time">
            <label for="venue">Venue:</label>
            <input type="text" name="venue" id="venue">
            <label for="coordinator">Coordinator:</label>
            <input type="text" name="coordinator" id="coordinator">
            <label for="employeeId">Employee ID:</label>
            <input type="text" name="employeeId" id="employeeId" value="<%= employeeId %>" readonly>
            <label for="eventdetails">Details:</label>
            <textarea name="eventdetails" id="eventdetails" cols="10" rows="10"></textarea>
            <label for="poster">Event Banner:</label>
            <input type="file" name="image" accept="image/*" id="poster" required>
            <button type="submit" class="event">Apply</button>
        </form>
      </div>
      <script src="js/logout.js"></script>
</body>
</html>