<link rel="stylesheet" href="/css/footer.css">
<footer>
    <h4>© 2023 Jayesh Inc. All rights reserved.</h4>
    <div class="left">
        <ul class="footerul">
            <li class="footerli"><a href="#">Terms</a></li>
            <li class="footerli"><a href="#">Privacy</a></li>
            <li class="footerli"><a href="#">Compliance</a></li>
        </ul>
    </div>
    
</footer>

<!-- <div class="left">
    <ul>
        <li>© 2023 Jayesh Inc. All rights reserved.</li>
        <li>Terms</li>
        <li>Privacy</li>
        <li>Compliance</li>
    </ul>
</div> -->

<!-- <div class="right">
    <div class="loginbtn1">
        <form action="/admin" method="get">
        <button type="submit" class="loginbtn">Admin</button>
        </form>
    </div>
    <div class="loginbtn1">
        <form action="/employee" method="get">
        <button type="submit" class="loginbtn">Employee</button>
        </form>
    </div>
</div> -->