<link rel="stylesheet" href="css/nav.css">
<nav>
  <div class="cname">JAYESH</div>
  <div class="login">
    <form action="/admin" method="get">
      <button type="submit" class="logout">Admin</button>
    </form>
  </div>
  <div class="login">
    <form action="/employee" method="get">
      <button type="submit" class="logout">Employee</button>
    </form>
  </div>
  <div class="login">
    <form action="/director" method="get">
      <button type="submit" class="logout">Director</button>
    </form>
  </div>
</nav>